<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Manage Messwerte</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage Messwerte</h2></div>
    <div class="m-2">
        <button class="mr-3 btn btn-outline-primary "><a th:href="@{/new}">Add New Messwert</a></button>
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
    <dv>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Temperatur</th>
                <th>Messtation</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="messwerte : ${messwerteList}">
                <tr>
                    <td>[[${messwerte.temperatur}]]</td>
                    <td>[[${messwerte.messtation}]]</td>
                    <td>
                        <a class="h4" th:href="@{'/delete/' + ${messwerte.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </dv>
</div>
</body>
</html>